name: "CI"
on:
  pull_request:
    types: [opened, synchronize]
jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
        with:
          fetch-depth: 0
      - uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4
        with:
          node-version: 22
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: "3.4" # Not needed with a .ruby-version, .tool-versions or mise.toml
          bundler-cache: true # runs 'bundle install' and caches installed gems automatically
      # Git safe.directory の設定
      - name: Mark repo as safe for git
        run: git config --global --add safe.directory $GITHUB_WORKSPACE
      - name: enable corepack
        run: corepack enable
      - name: yarn set v4
        run: yarn set version stable
      - name: yarn install
        run: yarn install
      - name: yarn check
        run: yarn check
